parameters:
    ignoreErrors:
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
    level: 7
    paths:
        - src
    fileExtensions:
    	- php
